
.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  background: linear-gradient(to right, #9fdae9, #298bcc);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
  background: #ff9100;
  padding: 10px 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

a:hover {
  background: #db220e;
}

.quit {
   text-align: center;
}